*{ 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
 }
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  width: 100%;
}
.navigation {
  background-color: #f1e0b0;
  border-bottom: 0px solid white;
  padding: 20px;
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: flex-end;
  font-size: 20px;
  margin: 0px;
}
.navigation a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 5px;
  text-shadow:0px 0px 7px grey
}
.login-1 {
  background-color: DodgerBlue;
}
.login-2 {
  margin: 5px;
  border: 0.1px solid DodgerBlue;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
  width: 100%;
  background-image: linear-gradient(180deg, #fcf0cf, #f1e0b0);
}
#first-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 600px;
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  text-align: center;
  background-image: linear-gradient(180deg, #fcf0cf, #f1e0b0);
  color:white;
  text-shadow:5px 2px 5px grey
}
#first-content h1 {
  display: flex;
  justify-content: center;
font-size: 50px;
  margin: 0px;
}
#first-content p {
  display: flex;
  justify-content: center;

  margin: 0px;
}

#two-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: auto;
  height: auto;
  background-image: linear-gradient(180deg, #fcf0cf, #f1e0b0);
  color: white;
  text-shadow:5px 2px 5px grey
}

#two-content > div > h1 {
  display: inline-flex;
  flex-wrap: wrap;
  width: auto;
  height: 40px;
  font-size: 50px;
  border: 10px solid white;
  border-width: 0 0 3px 0;
  text-align: center;
  padding: 50px;
  margin: 10px;
}

.img {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  margin: 0%;
  padding: 5%;
  gap: 40px;
  
}
.img div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
 
  width: 300px;
  height: auto;
  margin: 0px;
  padding: 0px;
  border: 2px solid black;
  border-width: 0 0 20px 0;
  border-radius: 0 0 20px 20px;
}
.img div a img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.project {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}
.project p {
  display: flex;
  justify-content: center;
  height: 10px;

  margin: 10px 0 0 0;
  padding: 2px;
}
.project p:hover {
  color: yellow;
}
#button {
  display: flex;
  justify-content: center;

  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 70px;
}
#button strong {
  display: flex;
  justify-content: center;

  border: 0pxsolid;
  width: 100px;
  height: 25px;
  margin: 0px;
  padding: 10px;
  font-size: 20;
  background-color: gray;
  text-align: center;
}
#button strong:hover {
  background-color: aqua;
}

#three-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: linear-gradient(180deg, #fcf0cf, #f1e0b0);
  height: 400px;
  color:white;
  text-shadow:5px 2px 5px grey
}
#three-content h1 {
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-top: 20px;
  font-size: 30px;
}
#three-content p {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
#three-content > ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  list-style: none;
  justify-content: center;
  padding: 0px;
  font-size: 20px;
  margin: 30px;
}
#three-content > ul > li > a {
  font-size: 20pt;
  text-shadow: 5px 2px 5px grey;
  font-weight: bold;
  margin: 30px;
  text-decoration: none;
  color: white;
  height: 5px;
}

#footer {
  background-color: #e6b655;
  color: white;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 20px;
}
